<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>repo_name</th>
      <th>description</th>
      <th>url</th>
      <th>forks</th>
      <th>stars</th>
      <th>language</th>
      <th>creation_date</th>
      <th>last_update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>aizynthfinder</td>
      <td>A tool for retrosynthetic planning</td>
      <td>https://github.com/m4xw/aizynthfinder</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
      <td>December 01, 2022</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>1</th>
      <td>alpaca_zorro_plugin</td>
      <td>A Zorro Plugin for Alpaca Trade API.</td>
      <td>https://github.com/m4xw/alpaca_zorro_plugin</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
      <td>March 23, 2023</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>2</th>
      <td>angle-bootstrap</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/angle-bootstrap</td>
      <td>0</td>
      <td>2</td>
      <td>Shell</td>
      <td>December 10, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>3</th>
      <td>bareos-webui</td>
      <td>Bareos Web User Interface</td>
      <td>https://github.com/m4xw/bareos-webui</td>
      <td>0</td>
      <td>1</td>
      <td>JavaScript</td>
      <td>January 17, 2018</td>
      <td>October 13, 2022</td>
    </tr>
    <tr>
      <th>4</th>
      <td>beetle-ngp-libretro</td>
      <td>Standalone port of Mednafen NGP to the libretro API, itself a fork of Neopop.</td>
      <td>https://github.com/m4xw/beetle-ngp-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>5</th>
      <td>beetle-pce-fast-libretro</td>
      <td>Standalone port of Mednafen PCE Fast to libretro.</td>
      <td>https://github.com/m4xw/beetle-pce-fast-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>6</th>
      <td>beetle-supergrafx-libretro</td>
      <td>Standalone port of Mednafen PCE Fast to libretro. This one only emulates a SuperGrafx TG-16.</td>
      <td>https://github.com/m4xw/beetle-supergrafx-libretro</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>7</th>
      <td>beetle-vb-libretro</td>
      <td>Standalone port of Mednafen VB to libretro.</td>
      <td>https://github.com/m4xw/beetle-vb-libretro</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>8</th>
      <td>bsnes</td>
      <td>Super Nintendo (SNES) emulator</td>
      <td>https://github.com/m4xw/bsnes</td>
      <td>0</td>
      <td>3</td>
      <td>C++</td>
      <td>January 16, 2020</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>9</th>
      <td>bsnes-hd</td>
      <td>bsnes fork that adds HD video features</td>
      <td>https://github.com/m4xw/bsnes-hd</td>
      <td>0</td>
      <td>3</td>
      <td>C++</td>
      <td>January 15, 2020</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>10</th>
      <td>buildscripts</td>
      <td>Scripts for building devkitPro toolchains</td>
      <td>https://github.com/m4xw/buildscripts</td>
      <td>0</td>
      <td>2</td>
      <td>Shell</td>
      <td>February 15, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>11</th>
      <td>citra</td>
      <td>A Nintendo 3DS Emulator</td>
      <td>https://github.com/m4xw/citra</td>
      <td>0</td>
      <td>0</td>
      <td>C++</td>
      <td>August 16, 2023</td>
      <td>August 16, 2023</td>
    </tr>
    <tr>
      <th>12</th>
      <td>coova-chilli</td>
      <td>CoovaChilli is an open-source software access controller for captive portal hotspots.</td>
      <td>https://github.com/m4xw/coova-chilli</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>November 10, 2017</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>13</th>
      <td>desmume</td>
      <td>DeSmuME is a Nintendo DS emulator</td>
      <td>https://github.com/m4xw/desmume</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>April 26, 2019</td>
      <td>October 13, 2022</td>
    </tr>
    <tr>
      <th>14</th>
      <td>dji-firmware-tools</td>
      <td>Tools for handling firmwares of DJI products, with focus on quadcopters.</td>
      <td>https://github.com/m4xw/dji-firmware-tools</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>November 29, 2022</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>15</th>
      <td>dosbox-libretro</td>
      <td>Port of  DOSBox (upstream) to the libretro API.</td>
      <td>https://github.com/m4xw/dosbox-libretro</td>
      <td>0</td>
      <td>3</td>
      <td>C++</td>
      <td>March 20, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>16</th>
      <td>dosbox-pure</td>
      <td>DOSBox Pure is a new fork of DOSBox built for RetroArch/Libretro aiming for simplicity and ease of use.</td>
      <td>https://github.com/m4xw/dosbox-pure</td>
      <td>0</td>
      <td>3</td>
      <td>NaN</td>
      <td>July 19, 2022</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>17</th>
      <td>dosbox-svn</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/dosbox-svn</td>
      <td>21</td>
      <td>5</td>
      <td>C++</td>
      <td>March 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>18</th>
      <td>easyrpg-libretro</td>
      <td>Official libretro port of EasyRPG - RPG Maker 2000/2003 and EasyRPG games interpreter</td>
      <td>https://github.com/m4xw/easyrpg-libretro</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>April 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>19</th>
      <td>emuMMC</td>
      <td>A SDMMC driver replacement for Nintendo's Filesystem Services.</td>
      <td>https://github.com/m4xw/emuMMC</td>
      <td>27</td>
      <td>335</td>
      <td>C</td>
      <td>June 15, 2019</td>
      <td>June 27, 2025</td>
    </tr>
    <tr>
      <th>20</th>
      <td>fbalpha</td>
      <td>Port of FB Alpha to Libretro (fork of official repository)</td>
      <td>https://github.com/m4xw/fbalpha</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>April 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>21</th>
      <td>flycast-switch</td>
      <td>Flycast is a multiplatform Sega Dreamcast emulator</td>
      <td>https://github.com/m4xw/flycast-switch</td>
      <td>0</td>
      <td>7</td>
      <td>C++</td>
      <td>September 24, 2019</td>
      <td>April 24, 2025</td>
    </tr>
    <tr>
      <th>22</th>
      <td>FreeIntv</td>
      <td>A libretro emulation core for the Mattel Intellivision designed to be compatible with joypads from the SNES era forward</td>
      <td>https://github.com/m4xw/FreeIntv</td>
      <td>0</td>
      <td>2</td>
      <td>Assembly</td>
      <td>June 16, 2021</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>23</th>
      <td>ftpd</td>
      <td>FTP Server for 3DS</td>
      <td>https://github.com/m4xw/ftpd</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>June 06, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>24</th>
      <td>gcc</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/gcc</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>March 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>25</th>
      <td>GLideN64</td>
      <td>A new generation, open-source graphics plugin for N64 emulators.</td>
      <td>https://github.com/m4xw/GLideN64</td>
      <td>0</td>
      <td>2</td>
      <td>NaN</td>
      <td>December 09, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>26</th>
      <td>gpt4all</td>
      <td>gpt4all: an ecosystem of open-source chatbots trained on a massive collections of clean assistant data including code, stories and dialogue</td>
      <td>https://github.com/m4xw/gpt4all</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
      <td>June 16, 2023</td>
      <td>December 05, 2023</td>
    </tr>
    <tr>
      <th>27</th>
      <td>GrowWhisperer</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/GrowWhisperer</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>April 22, 2025</td>
      <td>April 22, 2025</td>
    </tr>
    <tr>
      <th>28</th>
      <td>hekate</td>
      <td>Nintendo Switch Bootloader - CTCaer mod</td>
      <td>https://github.com/m4xw/hekate</td>
      <td>0</td>
      <td>3</td>
      <td>NaN</td>
      <td>March 21, 2020</td>
      <td>December 08, 2024</td>
    </tr>
    <tr>
      <th>29</th>
      <td>hekate-ipl-50x</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/hekate-ipl-50x</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>May 09, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Ishiiruka</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/Ishiiruka</td>
      <td>0</td>
      <td>1</td>
      <td>C++</td>
      <td>July 11, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>31</th>
      <td>jc_toolkit</td>
      <td>Joy-Con Toolkit</td>
      <td>https://github.com/m4xw/jc_toolkit</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>August 08, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>32</th>
      <td>libap</td>
      <td>Asio-based cross-platform client library for Piwik (Analytics for iOS and Android)</td>
      <td>https://github.com/m4xw/libap</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>January 02, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>33</th>
      <td>libretro-handy</td>
      <td>K. Wilkins' Atari Lynx emulator Handy (http://handy.sourceforge.net/) for libretro</td>
      <td>https://github.com/m4xw/libretro-handy</td>
      <td>0</td>
      <td>1</td>
      <td>C++</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>34</th>
      <td>libretro-o2em</td>
      <td>Port of O2EM to the libretro API, an Odyssey 2 / VideoPac emulator.</td>
      <td>https://github.com/m4xw/libretro-o2em</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>35</th>
      <td>libretro-super</td>
      <td>Super repo for other libretro projects. Fetches, builds and installs.</td>
      <td>https://github.com/m4xw/libretro-super</td>
      <td>0</td>
      <td>1</td>
      <td>Shell</td>
      <td>September 28, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>36</th>
      <td>libultraship</td>
      <td>Porting games to the PC</td>
      <td>https://github.com/m4xw/libultraship</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
      <td>November 23, 2022</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>37</th>
      <td>lutro.libretro.com</td>
      <td>Website for lutro game engine</td>
      <td>https://github.com/m4xw/lutro.libretro.com</td>
      <td>0</td>
      <td>2</td>
      <td>NaN</td>
      <td>April 29, 2021</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>38</th>
      <td>mame2003-libretro</td>
      <td>MAME 0.78 for libretro. Compatible with MAME 0.78 romsets.</td>
      <td>https://github.com/m4xw/mame2003-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>April 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>39</th>
      <td>mame2003-plus-libretro</td>
      <td>Updated 2018 version of MAME (0.78) for libretro. with added game support plus many fixes and improvements</td>
      <td>https://github.com/m4xw/mame2003-plus-libretro</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>April 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Marlin</td>
      <td>Optimized firmware for RepRap 3D printers based on the Arduino platform.</td>
      <td>https://github.com/m4xw/Marlin</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>December 30, 2017</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>41</th>
      <td>melonDS</td>
      <td>DS emulator, sorta</td>
      <td>https://github.com/m4xw/melonDS</td>
      <td>0</td>
      <td>3</td>
      <td>C</td>
      <td>August 05, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>42</th>
      <td>mesa</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/mesa</td>
      <td>5</td>
      <td>2</td>
      <td>C</td>
      <td>June 14, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>43</th>
      <td>mgba</td>
      <td>mGBA Game Boy Advance Emulator</td>
      <td>https://github.com/m4xw/mgba</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>44</th>
      <td>mrboom-libretro</td>
      <td>Mr.Boom is an 8 player Bomberman clone for RetroArch/Libretro</td>
      <td>https://github.com/m4xw/mrboom-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>45</th>
      <td>mupen64plus-core</td>
      <td>Core module of the Mupen64Plus project</td>
      <td>https://github.com/m4xw/mupen64plus-core</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>January 21, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>46</th>
      <td>mupen64plus-libretro</td>
      <td>Mupen64 Plus libretro core that stays compatible with upstream.</td>
      <td>https://github.com/m4xw/mupen64plus-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>October 07, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>47</th>
      <td>mupen64plus-libretro-nx</td>
      <td>Improved mupen64plus libretro core reimplementation</td>
      <td>https://github.com/m4xw/mupen64plus-libretro-nx</td>
      <td>1</td>
      <td>3</td>
      <td>C</td>
      <td>August 17, 2020</td>
      <td>June 04, 2025</td>
    </tr>
    <tr>
      <th>48</th>
      <td>nestopia</td>
      <td>Enhanced version of Nestopia for Linux, BSD, and Windows</td>
      <td>https://github.com/m4xw/nestopia</td>
      <td>0</td>
      <td>1</td>
      <td>C++</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>49</th>
      <td>newlib</td>
      <td>fork from sourceware</td>
      <td>https://github.com/m4xw/newlib</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>March 26, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>50</th>
      <td>nx-hbloader</td>
      <td>Host process for loading Switch homebrew NROs</td>
      <td>https://github.com/m4xw/nx-hbloader</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>June 04, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>51</th>
      <td>NxNandManager</td>
      <td>Tool to dump/restore Nintendo Switch's NAND (Windows only, no SD card needed)</td>
      <td>https://github.com/m4xw/NxNandManager</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>February 27, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>52</th>
      <td>parallel-n64</td>
      <td>Optimized/rewritten Nintendo 64 emulator made specifically for Libretro. Originally based on Mupen64 Plus.</td>
      <td>https://github.com/m4xw/parallel-n64</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>February 01, 2020</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>53</th>
      <td>PHP-MySQLi-Database-Class</td>
      <td>Wrapper for a PHP MySQL class, which utilizes MySQLi and prepared statements.</td>
      <td>https://github.com/m4xw/PHP-MySQLi-Database-Class</td>
      <td>0</td>
      <td>2</td>
      <td>PHP</td>
      <td>December 19, 2017</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>54</th>
      <td>PokeMini</td>
      <td>Obscure nintendo handheld emulator (functional,no color files or savestates currently)</td>
      <td>https://github.com/m4xw/PokeMini</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>March 28, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>55</th>
      <td>ppsspp</td>
      <td>Highly WIP PPSSPP Port. Will be squashed later.</td>
      <td>https://github.com/m4xw/ppsspp</td>
      <td>7</td>
      <td>121</td>
      <td>C++</td>
      <td>March 31, 2019</td>
      <td>April 17, 2025</td>
    </tr>
    <tr>
      <th>56</th>
      <td>ppsspp-ffmpeg</td>
      <td>A slimmed-down build of FFMPEG used in PPSSPP. Includes h.264, atrac3+, AAC and a few other codecs.</td>
      <td>https://github.com/m4xw/ppsspp-ffmpeg</td>
      <td>0</td>
      <td>3</td>
      <td>C</td>
      <td>April 16, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>57</th>
      <td>prosystem-libretro</td>
      <td>Port of ProSystem to the libretro API.</td>
      <td>https://github.com/m4xw/prosystem-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>58</th>
      <td>remill</td>
      <td>Library for lifting machine code to LLVM bitcode</td>
      <td>https://github.com/m4xw/remill</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>January 05, 2024</td>
      <td>January 05, 2024</td>
    </tr>
    <tr>
      <th>59</th>
      <td>RetroArch</td>
      <td>Cross-platform, sophisticated frontend for the libretro API. Licensed GPLv3.</td>
      <td>https://github.com/m4xw/RetroArch</td>
      <td>0</td>
      <td>6</td>
      <td>C</td>
      <td>September 08, 2018</td>
      <td>December 05, 2023</td>
    </tr>
    <tr>
      <th>60</th>
      <td>retroarch-assets</td>
      <td>Assets needed for RetroArch - e.g. menu drivers, etc. Also contains the official branding.</td>
      <td>https://github.com/m4xw/retroarch-assets</td>
      <td>0</td>
      <td>1</td>
      <td>Shell</td>
      <td>September 09, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>61</th>
      <td>RetroArch_LibNX</td>
      <td>libnx port of retroarch</td>
      <td>https://github.com/m4xw/RetroArch_LibNX</td>
      <td>4</td>
      <td>18</td>
      <td>C</td>
      <td>May 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>62</th>
      <td>rosettadrone_mini2</td>
      <td>The Rosetta Drone 2 Project.    Enable Mavlink and H.264 on DJI drones. Supports Mini 2 with Virt Stick Litchi CSV and DJI Waypoint class interpreters</td>
      <td>https://github.com/m4xw/rosettadrone_mini2</td>
      <td>7</td>
      <td>29</td>
      <td>C</td>
      <td>May 21, 2021</td>
      <td>November 30, 2024</td>
    </tr>
    <tr>
      <th>63</th>
      <td>scummvm</td>
      <td>ScummVM with libretro backend.</td>
      <td>https://github.com/m4xw/scummvm</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>November 06, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>64</th>
      <td>snes9x</td>
      <td>Snes9x - Portable Super Nintendo Entertainment System (TM) emulator</td>
      <td>https://github.com/m4xw/snes9x</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>September 27, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>65</th>
      <td>snes9x2010</td>
      <td>Snes9x 2010. Port of Snes9x 1.52+ to Libretro (previously called SNES9x Next). Rewritten in C and several optimizations and speedhacks.</td>
      <td>https://github.com/m4xw/snes9x2010</td>
      <td>0</td>
      <td>3</td>
      <td>C</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>66</th>
      <td>snes9x_libNX</td>
      <td>libnx port of snes9x core</td>
      <td>https://github.com/m4xw/snes9x_libNX</td>
      <td>0</td>
      <td>5</td>
      <td>C++</td>
      <td>May 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>67</th>
      <td>sse2neon</td>
      <td>C/C+ header converting Intel SSE intrinsics to ARN NEON intrinsics</td>
      <td>https://github.com/m4xw/sse2neon</td>
      <td>0</td>
      <td>3</td>
      <td>C++</td>
      <td>January 06, 2019</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>68</th>
      <td>stella-libretro</td>
      <td>Port of Stella to libretro.</td>
      <td>https://github.com/m4xw/stella-libretro</td>
      <td>0</td>
      <td>1</td>
      <td>C++</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>69</th>
      <td>STM32-USB-Host-Library</td>
      <td>NaN</td>
      <td>https://github.com/m4xw/STM32-USB-Host-Library</td>
      <td>0</td>
      <td>3</td>
      <td>C</td>
      <td>July 06, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>70</th>
      <td>VBA-Next</td>
      <td>libnx port of vba-next</td>
      <td>https://github.com/m4xw/VBA-Next</td>
      <td>0</td>
      <td>3</td>
      <td>C++</td>
      <td>June 01, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>71</th>
      <td>vba-next-1</td>
      <td>Optimized port of VBA-M to Libretro.</td>
      <td>https://github.com/m4xw/vba-next-1</td>
      <td>0</td>
      <td>2</td>
      <td>C++</td>
      <td>September 29, 2018</td>
      <td>August 05, 2023</td>
    </tr>
    <tr>
      <th>72</th>
      <td>virtualjaguar-libretro</td>
      <td>Port of Virtual Jaguar to Libretro</td>
      <td>https://github.com/m4xw/virtualjaguar-libretro</td>
      <td>0</td>
      <td>2</td>
      <td>C</td>
      <td>February 25, 2019</td>
      <td>August 05, 2023</td>
    </tr>
  </tbody>
</table>